<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
       <div class = "page-content">
        <h1 id="title"><span style="font-size : 80px;">S</span><span style="font-size : 80px;">t</span><span style="font-size : 80px;">e</span><span style="font-size : 80px;">f</span><span style="font-size : 80px;">'</span><span style = "font-size : 80px;">s</span><span> </span><span style = "color:blue; font-size : 80px;">G</span><span style = "color:red; font-size : 80px;">o</span><span style = "color:#F0CC55; font-size : 80px;">o</span><span style = "color:blue; font-size : 80px;">g</span><span style = "color:green; font-size : 80px;">l</span><span style = "color:red; font-size : 80px;">e</span></h1>
            <form action="https://www.google.com/search">
                <input id = "google-search-bar" type="text" name="q">
                <input id = "google-search-button" type="submit" value="Google Search">
            </form>
       </div>
        <div class= "upper-right-container">
            <a href="image.html">Image Search</a>
        </div>
    </body>
</html>