.page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:-70px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size : 40px;
}

.upper-right-container{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}


#google-search-button{
    margin:auto;
    font-size:20px;
    display:block;
    margin-top: 10px;
    background-color:#F1F1F1;
    outline:none;
    border:1px solid;
}

#google-search-button:hover{
    background-color:grey;
    cursor:pointer;
}

#google-search-bar{
    width:150vh;
    height:6vh;
    display:block;
    margin:5px;
    border-radius: 15px;
    outline: black;
    border:1px solid;
    font-size:20px;
}